.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: #ecf3ff;
  min-height: calc(700px - 100px - 19px);
}
